<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">com.example.farmacy.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:farmacy.db</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>


        <mapping class="com.example.farmacy.domain.Manager"/>
        <mapping class="com.example.farmacy.domain.PersonalMedical"/>
        <mapping class="com.example.farmacy.domain.Farmacist"/>
        <mapping class="com.example.farmacy.domain.Medicament"/>
        <mapping class="com.example.farmacy.domain.Comanda"/>

    </session-factory>
</hibernate-configuration>